<meta charset="utf-8">
<title><%= title(page) %></title>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="preload" href="/assets/icons.svg">
<link rel="preload" href="/assets/avatar.avif">
<link rel="preload" href="/images/publications/nodejs-cover.png">
<%- cssCache(page_css(page)) %>
<meta name="viewport" content="initial-scale=1.0">
<!-- generated via https://realfavicongenerator.net -->
<link rel="icon" type="image/png" href="/assets/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="thom4.net" />
<link rel="manifest" href="/assets/site.webmanifest" />
<meta name="theme-color" content="#FFF9F4">
<meta name="description" content="<%= description(page) %>">
<meta name="keywords" content="<%= (page.tags && page.tags.toArray().map(tag => tag.name) || []).concat(config.keywords).join(',') %>">
<link rel="alternate" type="application/rss+xml" title="<%= [config.title].join(' • ') %>" href="https://thom4.net/feed/">
<link rel="alternate" type="application/rss+xml" title="<%= [config.title, 'Photography'].join(' • ') %>" href="https://thom4.net/photography/feed/">
<link rel="alternate" type="application/rss+xml" title="<%= [config.title, 'Talks'].join(' • ') %>" href="https://thom4.net/talks/feed/">
<link rel="author" href="<%= theme.author %>">
<% if (is_home() || is_archive()){ -%><link rel="prefetch" href="<%= page.posts.first().permalink %>"><% } %>
<% if (page.next){ -%><link rel="prefetch" href="<%= page.next.permalink %>"><% } %>
<% if (page.prev){ -%><link rel="prefetch" href="<%= page.prev.permalink %>"><% } %>
<meta name="fediverse:creator" content="<%= theme.graph.fediverse_creator %>">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@<%= theme.graph.twitter %>">
<meta name="twitter:creator" content="@<%= theme.graph.twitter %>">
<meta name="twitter:image" content="<%= page.image || config.default_cover %>">
<meta name="twitter:description" content="<%= description(page) %>">
<meta property="og:title" content="<%= page.title || [config.title, config.subtitle].join(' &mdash; ') %>">
<meta property="og:type" content="article">
<meta property="og:url" content="<%= url_for(page.permalink) %>">
<meta property="og:image" content="<%= page.image || config.default_cover %>">
<meta property="og:description" content="<%= description(page) %>">
<meta property="og:locale" content="fr_FR">
<meta property="og:locale:alternate" content="en_GB">
<meta property="og:site_name" content="<%= config.title %>">
<link rel="me" href="https://twitter.com/<%= theme.graph.twitter %>">
<link rel="me authn" href="<%= theme.graph.mastodon %>">
<link rel="me authn" href="<%= theme.graph.github %>">
<link rel="me authn" href="<%= theme.graph.gitlab %>">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="me" href="<%= theme.graph.framagit %>">
<link rel="me" href="<%= theme.graph.pro %>">
<link rel="me" href="<%= theme.graph.old %>">
<% if (theme.webmentions) { -%>
<% Object.entries(theme.webmentions.features).forEach(f => { -%>
<link rel="<%= f[0] %>" href="<%= theme.webmentions.url %>/<%= f[1] %>">
<% }) -%>
<% } -%>
<%- algolia_search_config() %>
<%- (page.scripts || []).map(script => `<script type="module" src="/assets/js/${script}"></script>`).join('\n') %>
