<footer class="footer">
  <section>
    <article>
      <p>
        <a href="/slash-me" rel="me" class="about">
          <img src="/assets/avatar.jpg" alt="" class="avatar img-thumbnail">
        </a>
      </p>

      <p>
        Hello I am <a href="/slash-me/" rel="me">Thomas</a>, a french <em>web engineer</em> who lives in <em>London</em> and co-founded the <a href="https://dtc-innovation.org" target="_blank">dtc innovation</a>  co-op 🙂<br>

        I used to work at <a href="http://bbc.co.uk/rd" target="_blank">BBC R&amp;D</a> and to co-organise <a href="https://sudweb.fr" target="_blank">Sud Web</a>.
      </p>

      <ul class="list-unstyled">
        <li class="menu-item">
          <svg class="icon" aria-hidden="true"><use xlink:href="<%= url_for('/assets/icons.svg#twitter') %>"></use></svg>

          <a href="https://twitter.com/oncletom" rel="noopener" target="_blank" title="Twitter">twitter.com/oncletom</a>
        </li>
        <li class="menu-item">
          <svg class="icon" aria-hidden="true"><use xlink:href="<%= url_for('/assets/icons.svg#github') %>"></use></svg>

          <a href="https://github.com/oncletom" rel="noopener" target="_blank" title="GitHub">github.com/oncletom</a>
        </li>
        <li class="menu-item">
          <svg class="icon" aria-hidden="true"><use xlink:href="<%= url_for('/assets/icons.svg#rss') %>"></use></svg>

          <a href="/feed/" rel="noopener text/atom+xml feed" target="_blank" title="Atom Feed">Publications feed</a>
        </li>
      </ul>
    </article>

    <aside>
      <section>
        <form action="#search-results" method="get" class="form" role="search">
          <input type="search" name="q" value="" class="form-control" placeholder="What are you looking for?" required>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <div id="search-results" class="tag-column">
          <h3>/search results</h3>

          <ul class="content-results">
            <li class="content-result" hidden>
              <h4>
                <a href="#">Sample Title</a>
              </h4>
              <time datetime>2017-04-27</time>

              <div class="excerpt">
                <p><a href="http://sudweb.fr/2012/" target="_blank" rel="external">Sud Web 2012</a> : une discussion autour d’un <a href="http://www.pategrain.com/" target="_blank" rel="external">bon poulet à Toulouse</a> avec <a href="http://frank.taillandier.me/" target="_blank" rel="external">Frank</a> et compagnie.<br>Je réalise qu’il n’est <strong>pas si compliqué que ça d’organiser</strong> des évènements, et que la seule transmission de bonne humeur suffit à motiver les foules. Ça, et la simplicité d’organisation … genre moins y’en a, mieux ça fonctionne.</p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section>
        <div class="tag-column">
          <h3>/categories</h3>

          <ul class="tagged-links">
            <% site.categories.filter(d => !d.parent).forEach(function(category){ -%>
            <li><a href="<%= category.permalink %>" rel="tag"><%= category.name %></a></li>
            <% }) -%>
          </ul>
        </div>

        <div class="tag-column">
          <h3>/years</h3>
          <%- list_archives({type: "yearly", order: "desc", format: "YYYY", show_count: false }) %>
        </div>
      </section>
    </aside>

  </section>
</footer>
