<header class="header container">

  <div class="profile-picture">
    <a href="<%= url_for('/' )%>" rel="home">
      <img src="/assets/avatar.jpg" alt="<%= config.title %>" class="is-avatar is-responsive">
    </a>
  </div>

  <div class="presentation"><%- markdown(theme.description) %></div>

  <nav>
    <ul class="is-inline is-dotted">
      <% getNavLinks(theme.links).forEach(link => { %>
        <li class="<%= link.classNames %>"><a href="<%= link.href %>" lang="<%= link.lang || config.language %>"><%= link.label %></a></li>
      <% }) %>
    </ul>
  </nav>
</header>
