<!DOCTYPE html>
<html lang="<%- config.language %>" prefix="og: http://ogp.me/ns#">
<head><%- partial('_head') %></head>
<body class="home <%= `site-${config.layout}` %>">
<%- body %>
<%- js(['assets/algolia/algoliasearchLite.min.js', 'assets/js/main.js']) %>
</body>
</html>
