<article class="article container" id="latest-writing" lang="<%= post.lang || config.language %>">
  <header>
    <div class="cover">
      <% if (post.cover) { %><img src="<%= post.image %>" alt="" class="is-responsive is-cover"><% } %>
    </div>

    <h1><a href="<%= url_for(post.path) %>" rel="permalink"><%= post.title %></a></h1>

    <ul class="metadata is-inline is-dotted">
      <li><time class="dt-published" datetime="<%= post.date.toISOString() %>">
        <%= date(post.date) %>
      </time></li>
      <li><%= readingTime(post.content).text %></li>
    </ul>
  </header>

  <section>
    <div class="summary"><%- post.description || post.excerpt %></div>

    <p class="read-more">
      <a href="<%= url_for(post.path) %>"><%= _p('read_more.article') %></a>
    </p>
  </section>

  <aside class="next">
    <h2><%= _p('more.writings') %></h2>

    <ul class="is-discrete with-metadata">
      <% aside.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
        <a href="<%= url_for(post.path) %>" rel="permalink"><%= post.title %></a>
      </li>
      <% }) %>
    </ul>
  </aside>

  <aside class="next">
    <p><a href="<%= url_for('/archives/')%>" class="read-more"><%= __('more.archives') %></a></p>
  </aside>
</article>
