<%- partial('header') %>
<%- partial('cover/hello', { post: page.posts.first() }) %>

<main class="container timeline" role="main">
  <section class="row timeline-header hero" id="most-recent">
    <div class="col-sm-12"><%- partial("blog/post-condensed", {post: page.posts.first() })%></div>
  </section>

  <section class="row timeline-section" id="a-bit-older">
    <%- partial("blog/time-based-posts", { posts: page.posts.slice(1, 11) }) %>
  </section>
</main>

<%- partial("footer", {}, { cache: true }) %>
