<section class="photography-tiles needs-js">
  <ul class="tiles"></ul>

  <aside class="next container">
    <h2><%= _p('more.photography') %></h2>
    <ul class="is-discrete">
      <li><a href="<%= url_for('/photography/')%>" class="read-more"><%= __('more.photography_archives') %></a></li>
      <li><a href="<%= url_for('/photography/feed/')%>" class="read-more"><%= __('more.photography_feed') %></a></li>
    </ul>
  </aside>
</section>
