<% const d = moment(post.date) -%>
<article class="h-entry post article <%= typeof classNames === 'string' ? classNames : '' %> container" lang="<%= post.lang || config.language %>">
  <header class="post__header">
    <% if (post.cover) { %>
    <div class="<%= ['cover', post.cover.type].filter(d=>d).join(' ') %>">
      <img src="<%= post.image %>" alt="" class="is-responsive is-cover">
    </div>
    <% } %>

    <h1><%= post.title %></h1>

    <% if (is_page()) { %>
    <%- toc(post.content, {list_number: false}).replace(/>§/g, '>') %>
    <% } %>

    <% if (is_post(post)) { %>
    <ul class="metadata is-inline is-dotted">
      <li><time class="dt-published" datetime="<%= post.date.toISOString() %>">
        <%= date(post.date) %>
      </time></li>
      <% if (post.categories.findOne({name: 'Journal'})) { %>
      <li>#Journal</li>
        <% const categories = post.categories.filter(c => c.name !== 'Journal').map(({name}) => name) %>
        <% if (categories.length) { %>
        <li><%- categories.join(', ') %></li>
        <% } %>
      <% } else { %>
      <li><%= readingTime(post.content).text %></li>
      <% } %>
    </ul>
    <% } %>
  </header>

  <section id="read" class="post__content post__content--text e-content">
    <%- post.content %>
  </section>

  <% if (['journal'].includes(post.layout)) { %>
  <% const {permalink} = post.categories.findOne({name: 'Journal'}) %>
  <footer class="post__footer next">
    <p class="read-more">
      <a href="<%= permalink %>">
        <%- partial('icon', {id: 'coffee'}) -%><%= __('more.journal') %>
      </a>
    </p>
  </footer>
  <% } %>

  <% if (is_post() && post.layout === 'post') { %>
  <footer class="post__footer next">
    <% if (post.thanks_to) { %>
    <%- markdown(__('metadata.thanks_to', post.thanks_to)) %>
    <% } %>
    <ul class="is-discrete read-more">
      <li>
        <a href="https://github.com/oncletom/oncletom.io/tree/master/source/<%= post.source %>">
          <%- partial('icon', {id: 'html-tag'}) -%><%= __('metadata.suggest_edit') %>
        </a>
      </li>
      <% if (post.comments) { %><li>
        <a href="#comments">
          <%- partial('icon', {id: 'reactions'}) -%><%= __('more.comments') %>
        </a>
      </li><% } %>
      <li>
        <a href="https://github.com/oncletom/oncletom.io/tree/master/source/<%= post.source %>">
          <%- partial('icon', {id: 'browse'}) -%><%= __('more.archives') %>
        </a>
      </li>
    </ul>
  </footer>
  <% } %>


  <% if (is_post() && post.layout === 'post' && post.categories.first()) { %>
  <% const category = post.categories.first() %>
  <% const aside = post.categories.first().posts.find({ date: {$lt: post.date}}).sort('date', -1).limit(5) %>
  <% if (aside.length) { %>
  <aside class="next">
    <h2><%= __('more.topic', category.name)%></h2>

    <ul class="is-discrete with-metadata">
      <% aside.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
        <a href="<%= url_for(post.path) %>" rel="bookmark" lang="<%= post.lang || config.lang %>"><%= post.title.replace(/☕️ Journal : /, '') %></a>
      </li>
      <% }) %>
    </ul>
  </aside>
  <% } %>
  <% } %>

  <% if (is_post() && post.layout === 'journal') { %>
  <% const category = post.categories.last() %>
  <% const aside = category.posts.find({ date: {$lt: post.date}}).sort('date', -1).limit(5) %>
  <% if (aside.length && category !== post.categories.first()) { %>
  <aside class="next">
    <h2><%= __('more.topic', category.name)%></h2>

    <ul class="is-discrete with-metadata">
      <% aside.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
        <a href="<%= url_for(post.path) %>" rel="bookmark" lang="<%= post.lang || config.lang %>"><%= post.title.replace(/☕️ Journal : /, '') %></a>
      </li>
      <% }) %>
    </ul>
  </aside>
  <% } %>
  <% } %>
</article>
