<%- partial('header') %>
<%- partial('cover/post', { post: page }) %>

<main class="container" role="main">
  <section>
    <%- partial("blog/post-single", {
      post: page,
      features: ["summary", "content", "signature"]
    }) %>
  </section>

  <section>
    <%- partial("blog/comments", { post: page }) %>
  </section>
</main>

<%- partial("footer", {}, { cache: true }) %>
