<% const d = moment(post.date) -%>
<article class="h-entry post <%= typeof classNames === 'string' ? classNames : '' %>" lang="<%= post.lang || config.language %>">
  <header class="post__header"<%= features.indexOf('header') !== -1 ? '' : 'hidden'%>>
    <h2 class="post__headline">
      <a href="<%= url_for(post.external || post.path) %>" title="<%= post.title %>" rel="bookmark permalink" class="u-url p-name"><%= post.title %></a>
    </h2>

    <div class="post__metadata">
      <time class="metadata metadata--date post__date headline-list__date dt-published" datetime="<%= d.toISOString() %>">
        <%= date(d) %></span>
      </time>

      <% if (post.event && post.event.name) {%>
      <span class="metadata">
        •
        <a href="<%= post.event.url %>"><%= post.event.name %></a>
      </span>
      <% } %>

      <% if (post.event && post.event.location) {%>
      <span class="metadata metadata--location">
        <svg class="icon">
          <title><%= _p('metadata.location') %></title>
          <use xlink:href="<%= url_for('/assets/icons.svg#location') %>"></use>
        </svg>
        <%= post.event.location %>
      </span>
      <% } %>

      <% if (post.event && post.video) {%>
      <span class="metadata metadata--video">
        <svg class="icon">
          <use xlink:href="<%= url_for('/assets/icons.svg#youtube') %>"></use>
        </svg>
        <a href="<%= post.video %>"><%= _p('watch') %></a>
      </span>
      <% } %>

      <% if (post.event && post.audio) {%>
      <span class="metadata metadata--audio">
        <svg class="icon">
          <use xlink:href="<%= url_for('/assets/icons.svg#youtube') %>"></use>
        </svg>
        <a href="<%= post.audio %>"><%= _p('listen') %></a>
      </span>
      <% } %>
    </div>
  </header>

  <% if (features.indexOf('summary') !== -1) { %>
  <div class="post__summary p-summary <%= features.indexOf('content') !== -1 ? ' post__summary--plus-content' : '' %>">
    <%- post.description || post.excerpt %>

    <a href="<%= url_for(post.path) %>#more" class="continue-reading">Continue reading</a>
  </div>
  <% } %>

  <% if (features.indexOf('content') !== -1) { %>
  <div class="post__content post__content--text e-content" data-signed-by="<%= features.indexOf('signature') !== -1 ? 'Thomas': '' %>">
    <% if (locals.content && locals.content.title) { -%>
      <h1>Notes</h1>
    <% } -%>
    <%- post.more %>
  </div>
  <% } %>

  <% if (features.indexOf('signature') !== -1) { %>
  <footer class="post__footer">
    <% if (post.thanks_to) { %>
    <%- markdown(`Thanks to ${post.thanks_to}`) %>
    <% } %>
    <p>
      Published in
      <time datatime="<%= d.toISOString() %>"><%= d.format(config.date_format) %></time>.
      <a href=<%= `https://github.com/oncletom/oncletom.io/tree/master/source/${post.source}` %>>Found a typo or want to suggest an edit</a>?
    </p>
  </footer>
  <% } %>
</article>
