<% const d = moment(post.date) -%>
<article class="h-entry post article <%= typeof classNames === 'string' ? classNames : '' %> container" lang="<%= post.lang || config.language %>">
  <header class="post__header"<%= features.indexOf('header') !== -1 ? '' : 'hidden'%>>
    <% if (post.cover) { %>
    <div class="cover">
      <img src="<%= coverUrl(post, config) %>" alt="" class="is-responsive is-cover">
    </div>
    <% } %>

    <h1><%= post.title %></h1>

    <ul class="metadata is-inline is-dotted">
      <li>
        <time class="metadata metadata--date post__date headline-list__date dt-published" datetime="<%= d.toISOString() %>">
          <%= date(d) %></span>
        </time>
      </li>

      <% if (post.categories && post.categories.length) { %>
      <%- post.categories.map(({name}) => `<li>${name}</li>`).join(' ') %>
      <% } %>

      <% if (post.event && post.event.name) {%>
      <li>
        <a href="<%= post.event.url %>"><%= post.event.name %></a>
      </li>
      <% } %>

      <% if (post.event && post.event.location) {%>
      <li class="metadata--location">
        <svg class="icon">
          <title><%= _p('metadata.location') %></title>
          <use xlink:href="<%= url_for('/assets/icons.svg#location') %>"></use>
        </svg>
        <%= post.event.location %>
      </li>
      <% } %>

      <% if (post.event && post.video) {%>
      <li class="metadata--video">
        <svg class="icon">
          <use xlink:href="<%= url_for('/assets/icons.svg#youtube') %>"></use>
        </svg>
        <a href="<%= post.video %>"><%= _p('watch') %></a>
      </li>
      <% } %>

      <% if (post.event && post.audio) {%>
      <li class="metadata--audio">
        <svg class="icon">
          <use xlink:href="<%= url_for('/assets/icons.svg#youtube') %>"></use>
        </svg>
        <a href="<%= post.audio %>"><%= _p('listen') %></a>
      </li>
      <% } %>
    </ul>
  </header>

  <% if (features.indexOf('summary') !== -1) { %>
  <div class="post__summary p-summary <%= features.indexOf('content') !== -1 ? ' post__summary--plus-content' : '' %>">
    <%- post.description || post.excerpt %>

    <a href="<%= url_for(post.path) %>#more" class="continue-reading">Continue reading</a>
  </div>
  <% } %>

  <% if (features.indexOf('content') !== -1) { %>
  <div class="post__content post__content--text e-content" data-signed-by="<%= features.indexOf('signature') !== -1 ? 'Thomas': '' %>">
    <% if (locals.content && locals.content.title) { -%>
      <h1>Notes</h1>
    <% } -%>
    <%- post.more %>
  </div>
  <% } %>

  <% if (features.indexOf('signature') !== -1) { %>
  <footer class="post__footer">
    <% if (post.thanks_to) { %>
    <%- markdown(`Thanks to ${post.thanks_to}`) %>
    <% } %>
    <p>
      Published in
      <time datatime="<%= d.toISOString() %>"><%= d.format(config.date_format) %></time>.
      <a href=<%= `https://github.com/oncletom/oncletom.io/tree/master/source/${post.source}` %>>Found a typo or want to suggest an edit</a>?
    </p>
  </footer>
  <% } %>
</article>
