<% const d = moment(post.date) -%>
<article class="h-entry post article <%= typeof classNames === 'string' ? classNames : '' %> container" lang="<%= post.lang || config.language %>">
  <header class="post__header">
    <% if (post.cover) { %>
    <div class="<%= ['cover', post.cover_type].filter(d=>d).join(' ') %>">
      <img src="<%= coverUrl(post, config) %>" alt="" class="is-responsive is-cover">
    </div>
    <% } %>

    <h1><%= post.title %></h1>

    <% if (is_post(post)) { %>
    <ul class="metadata is-inline is-dotted">
      <li><time class="dt-published" datetime="<%= post.date.toISOString() %>">
        <%= date(post.date) %>
      </time></li>

      <li><%= readingTime(post.content).text %></li>
    </ul>
    <% } %>
  </header>

  <div id="read" class="post__content post__content--text e-content">
    <%- post.content %>
  </div>

  <% if (is_post() && post.categories.first()) { %>
  <% const aside = post.categories.first().posts.find({ date: {$lt: post.date}}).sort('date', -1).limit(5) %>
  <% if (aside.length) { %>
  <aside class="next">
    <h2><%= __('more.topic')%></h2>

    <ul class="is-discrete with-metadata">
      <% aside.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
        <a href="<%= url_for(post.path) %>" rel="permalink"><%= post.title %></a>
      </li>
      <% }) %>
    </ul>
  </aside>
  <% } %>
  <% } %>

  <% if (['post', 'page'].includes(post.layout)) { %>
  <footer class="post__footer next">
    <% if (post.thanks_to) { %>
    <%- markdown(__('metadata.thanks_to', post.thanks_to)) %>
    <% } %>
    <p class="read-more">
      <a href="https://github.com/oncletom/oncletom.io/tree/master/source/<%= post.source %>"><%= __('metadata.suggest_edit') %></a>
    </p>
  </footer>
  <% } %>
</article>
