<ol class="headline-list">
<% posts.forEach(post => { %>
  <% const d = moment(post.date) %>
  <li class="headline-list__item headline-list_item--post post timeline-item">
    <header class="post__header">
      <h2 class="post__headline">
        <a href="<%= url_for(post.path) %>" title="<%= post.title %>" rel="bookmark"><%= post.title %></a>
      </h2>

      <div class="post__metadata">
        <time class="post__date headline-list__date" datetime="<%= d.toISOString() %>">
          <%= d.format('MM.YYYY') %></span>
        </time>
      </div>
    </header>

    <article class="post__article">
      <div class="post__summary">
        <div class="excerpt">
          <%- post.excerpt %>

          <a href="<%= url_for(post.path) %>#more" class="continue-reading">Continue reading</a>
        </div>
      </div>
    </article>
  </li>
<% }); %>
