<section class="container <%= typeof classNames === 'string' ? classNames : '' %>">
  <header class="leading">
    <%- markdown(theme.summary.home) %>
  </header>

  <article class="article next" id="latest-writing" lang="<%= post.lang || config.language %>">
    <h3 class="h2"><%= __('most_recent_post') %></h3>

    <h2 class="h3"><a href="<%= url_for(post.path) %>" rel="bookmark"><%= post.title %></a></h2>

    <ul class="metadata is-inline is-dotted">
      <li><time class="dt-published" datetime="<%= post.date.toISOString() %>">
        <%= date(post.date) %>
      </time></li>
      <li><%= readingTime(post.content).text %></li>
    </ul>
  </article>

  <section>
    <div class="summary"><%- post.description || post.excerpt %></div>

    <p class="read-more">
      <a href="<%= url_for(post.path) %>">
        <%- partial('icon', {id: 'bookmarks'}) -%><%= _p('read_more.article') %>
      </a>
    </p>
  </section>

  <aside class="next">
    <h2><%= _p('writings.posts') %></h2>

    <ul class="is-discrete with-metadata">
      <% entries.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
        <a href="<%= url_for(post.path) %>" rel="bookmark"><%= post.title %></a>
      </li>
      <% }) %>
    </ul>

    <ul class="is-discrete">
      <li><a href="<%= url_for('/archives/') %>" class="read-more">
        <%- partial('icon', {id: 'browse'}) -%><%= __('more.archives') %>
      </a></li>
      <li><a href="<%= url_for('/feed/') %>" type="application/rss+xml" class="read-more">
        <%- partial('icon', {id: 'rss'}) -%><%= __('more.feed') %>
      </a></li>
    </ul>
  </aside>

  <aside class="next">
    <h2><%= _p('writings.journal') %></h2>

    <ul class="is-discrete with-metadata">
      <% journalEntries.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'Do MMMM') %></time>
        <a href="<%= url_for(post.path) %>" rel="bookmark"><%= post.title.replace('☕️ Journal : ', '') %></a>
      </li>
      <% }) %>
    </ul>

    <p><a href="<%= url_for('/categories/journal/') %>" class="read-more">
      <%- partial('icon', {id: 'coffee'}) -%><%= __('more.journal') %>
    </a></p>
  </aside>

  <aside class="next">
    <h2><%= _p('writings.reading_notes') %></h2>

    <ul class="is-discrete with-metadata">
      <% readingNotes.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.publication_year) %>"><%= post.publication_year %></time>
        <a href="<%= url_for(post.path).replace('index.html', '') %>" rel="bookmark"><%= post.title %></a>
      </li>
      <% }) %>
    </ul>

    <p><a href="<%= url_for('/reading-notes/') %>" class="read-more">
      <%- partial('icon', {id: 'bookmarks'}) -%><%= __('more.reading_notes') %>
    </a></p>
  </aside>
</section>
