<section class="container <%= typeof classNames === 'string' ? classNames : '' %>">
  <header class="leading">
    <%- markdown(theme.summary.home) %>
  </header>
</section>

<section class="container with-aside">
  <article itemscope itemtype="https://schema.org/Article" class="article article__card" id="latest-writing" aria-label="<%= post.title %>" aria-describedby="latest-writing-content" lang="<%= post.lang || config.language %>">
    <h2 class="h3" itemprop="name"><a href="<%= url_for(post.path) %>" rel="bookmark"><%= post.title %></a></h2>

    <div class="<%= ['cover', post.cover && post.cover.type].filter(d=>d).join(' ') %>">
      <% if (post.cover) { %><img src="<%= post.image %>" itemprop="thumbnailUrl" alt="" class="is-responsive"><% } %>
    </div>

    <ul class="metadata is-inline is-dotted">
      <li>
        <time itemprop="datePublished" class="dt-published" datetime="<%= post.date.toISOString() %>"><%= date(post.date) %></time>
      </li>
      <li itemprop="timeRequired"><%= readingTime(post.content).text %></li>
    </ul>

    <div class="summary" itemprop="abstract" id="latest-writing-content"><%- post.description || post.excerpt %></div>

    <p class="read-more">
      <a href="<%= url_for(post.path) %>" itemprop="url">
        <%- partial('icon', {id: 'bookmarks'}) -%><%= _p('read_more.article') %>
      </a>
    </p>
  </article>
</section>

<section class="side-by-side">
  <aside class="next" aria-labelledby="next-posts-title">
    <h2 id="next-posts-title"><%= _p('writings.posts') %></h2>

    <ul class="is-discrete with-metadata">
      <% entries.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
        <a href="<%= url_for(post.path) %>" rel="bookmark"><%= post.title %></a>
      </li>
      <% }) %>
    </ul>

    <ul class="is-discrete">
      <li><a href="<%= url_for('/archives/') %>" class="read-more">
        <%- partial('icon', {id: 'browse'}) -%><%= __('more.archives') %>
      </a></li>
      <li><a href="<%= url_for('/feed/') %>" type="application/rss+xml" class="read-more">
        <%- partial('icon', {id: 'rss'}) -%><%= __('more.feed') %>
      </a></li>
    </ul>
  </aside>

  <aside class="next" aria-labelledby="next-journal-title">
    <h2 id="next-journal-title"><%= _p('writings.journal') %></h2>

    <ul class="is-discrete with-metadata">
      <% journalEntries.forEach(post => { %>
      <li>
        <time class="metadata" datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'Do MMMM') %></time>
        <a href="<%= url_for(post.path) %>" rel="bookmark"><%= post.title.replace('☕️ Journal : ', '') %></a>
      </li>
      <% }) %>
    </ul>

    <p><a href="<%= url_for('/categories/journal/') %>" class="read-more">
      <%- partial('icon', {id: 'coffee'}) -%><%= __('more.journal') %>
    </a></p>
  </aside>
</section>
