<% const d = moment(post.date) %>
<article class="card">
  <header class="card__header">
    <div class="card__cover" style="background-image:url(<%= img_url(post.cover, post) %>)"><a href="<%= url_for(post.path) %>" title="<%= post.title %>"></a></div>
    <h2 class="card__headline">
      <a href="<%= url_for(post.path) %>" title="<%= post.title %>" rel="bookmark"><%= post.title %></a>
    </h2>
  </header>

  <div class="card__summary">
    <%- post.excerpt || post.content %>
  </div>

  <ul class="card__metadata">
    <li class="metadata metadata--date">
      <time class="card__date" datetime="<%= d.toISOString() %>">
        <%= d.format('MM.YYYY') -%></span>
      </time>
    </li>
    <li class="metadata">
      <%= post.pictures.length %>
      <svg class="icon">
        <title><%= _p('pictures.label', post.pictures.length) %></title>
        <use xlink:href="<%= url_for('/assets/icons.svg#images') %>"></use>
      </svg>
    </li>
    <li class="metadata metadata--tags"><%= post.categories.map(d => `#${d.name}`).join(', ') %></li>
  </ul>
</article>
