
<main class="photography-series series">
  <header class="series-header">
    <%- page.content %>

    <ul class="series-header__metadata">
      <li><date><%= moment(page.date).format('YYYY') %></date></li>
      <li><%= page.pictures.length %> pictures</li>
      <li><%= page.device.manufacturer %> <%= page.device.model %></li>
    </ul>
  </header>

  <% page.pictures.forEach(p => { %>
  <% const m = moment(p.date) %>
  <article class="series-item">

    <figure class="series-item__enclosure">
      <%- image_tag(`${page.slug}/${p.src.img}`, {
        class: 'series-item__picture',
        alt: '',
        'data-lazyload': true,
      }) %>

      <figcaption>
        <date time="<%= m.toISOString() %>" class="series-item__date">
          <%= m.format('MMMM Do YYYY') %>
        </date>
        <address class="series-item__address">
          <span class="series-item__venue"><%= p.location.venue %></span>,
          <span class="series-item__region"><%= p.location.region %></span>,
          <span class="series-item__country"><%= p.location.country %></span>.
        </address>
      </figcaption>
    </figure>
  </article>
  <% }) %>
</main>
