<% const m = moment(page.date) -%>
<% const { device } = page -%>
<main class="photography-series series">
  <header class="series-header">
    <h1 class="series__headline"><span><%= page.title %></span></h1>

    <div class="series__summary"><%- page.excerpt || page.content %></div>

    <ul class="series-header__metadata">
      <li class="metadata metadata--date">
        <time datetime="<%= m.toISOString() %>"><%= m.format('YYYY') %></time>
      </li>
      <li class="metadata">
        <%= _p('pictures.count', pictures_count(page)) %>
      </li>
      <ul class="metadata__list">
        <% (Array.isArray(device) ? device : [device]).forEach(d => { %>
        <li class="metadata">
          <span class="metadata camera"><%= d.manufacturer %> <%= d.model %></span>
          <% if (d.film) { -%>
            <span class="metadata film"><%= d.film.manufacturer %> <%= d.film.model %> (<%= d.film.speed %>ISO)</span>
          <% } }) %>
        </li>
      </ul>
    </ul>
  </header>

  <% if (page.map) { %>
  <article class="series-item series-item--with-map">
    <figure class="series-item__enclosure">
      <div class="series-item__media">
        <img src="<%= img_url(`maps/${page.map.src || page.map}`, page)%>" alt="" class="series-item__map series-item__map--large">
      </div>
    </figure>
  </article>
  <% } %>

  <% page.pictures.forEach(p => { -%>
  <article class="series-item series-item--<%= p.src ? 'with' : 'without' -%>-media">
    <% if (p.src) { -%>
    <figure class="series-item__enclosure">
      <div class="series-item__media">
        <img src="<%= img_url(p.src.img || p.src, page)%>" alt="" class="series-item__picture" data-lazyload>
      </div>

      <figcaption class="series-item__caption">
        <% if (p.comment) { %>
        <div class="series-item__comment"><%- markdown(p.comment) %></div>
        <% } -%>
        <% if (p.date) { const m = moment(p.date) -%>
        <date time="<%= m.toISOString() %>" class="series-item__date">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="<%= url_for('/assets/icons.svg#calendar') %>"></use>
          </svg>

          <%= m.format('MMMM Do YYYY') %>
        </date>
        <% } -%>

        <% if (p.location){ -%>
        <address class="series-item__address">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="<%= url_for('/assets/icons.svg#location') %>"></use>
          </svg>

          <% ['venue', 'city', 'region', 'country'].filter(d => p.location[d]).forEach(d => { -%>
          <span class="series-item__<%= d %>"><%= p.location[d] %></span>
          <% }) -%>
        </address>
        <% } %>

        <% if (p.map) { -%>
        <div class="series-item__map">
          <img src="<%= img_url(`maps/${p.map.src || p.map}`, page)%>" class="" alt="">
        </div>
        <% } -%>
      </figcaption>
    </figure>
    <% } else { -%>
      <div class="series-item__comment">
        <%- markdown(p.comment) %>

        <% if (p.map) { -%>
        <div class="series-item__map">
          <img src="<%= img_url(`maps/${p.map.src || p.map}`, page)%>" class="" alt="">
        </div>
        <% } -%>
      </div>
    <% } %>
  </article>
  <% }) %>

  <footer class="series-footer">
    <div class="series-footer__content">
      <p>
        Thanks for having a look, I hope you enjoyed it.
      </p>
      <p>
        <a href="<%= url_for('/') %>" rel="home">Navigate to the <em>Photography home</em></a>
      </p>
    </div>
  </footer>
</main>
