<% p = moment(post.date) %>
<article lang="<%= post.lang || 'fr' %>" class="post post-full">
  <header class="row">
    <div class="hero post__header col-md-8 col-md-push-2"><%- post.excerpt -%></div>
  </header>
  <div class="row">
    <div class="content col-md-8 col-md-push-2" data-signed-by="Thomas">
      <%- post.more %>
    </div>
  </div>

  <% if(typeof footer === 'undefined' || !!footer){ -%>
  <footer class="post__footer row">
    <div class="col-md-8 col-md-push-2 post__footer__content">
      <p>
        Published on
        <time datatime="<%= p.toISOString() %>"><%= p.format(config.date_format) %></time>.
        <a href=<%= `https://github.com/oncletom/oncletom.io/tree/master/source/${post.source}` %>>Found a typo or want to suggest an edit</a>?
      </p>
    </div>
  </footer>
  <% } -%>
</article>
